# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.swp
coverage*
**/.DS_Store
**/main

# Test binary, build with `go test -c`
*.test

**/.coverprofile
gover.coverprofile
spreadsheet/formula/y.output

.idea
