language: go
go:
        - 1.8.x
        - 1.9.x
        - 1.10.x
        - 1.11

install:
        - mkdir -p $HOME/gopath/src/unidoc/
        - ln -s $HOME/gopath/src/github.com/unidoc/unioffice $HOME/gopath/src/github.com/unidoc/unioffice
        - mkdir -p $HOME/dotnet
        - cd $HOME/dotnet
	- wget https://download.visualstudio.microsoft.com/download/pr/8db2b522-7fa2-4903-97ec-d6d04d297a01/f467006b9098c2de256e40d2e2f36fea/dotnet-sdk-3.1.301-linux-x64.tar.gz
        - tar -xf dotnet-sdk-3.1.301-linux-x64.tar.gz
        - cd $GOPATH/src/github.com/unidoc/unioffice/.travis
        - unzip validator.zip
        - cd openxml-validator
        - $HOME/dotnet/dotnet build

script:
        - cd $HOME/gopath/src/github.com/unidoc/unioffice
        - ./build-examples.sh
        - ./.travis/validate.sh
        - go vet ./...
        - go test ./...

after_success:
        - ./test-coverage.sh
